DB_DRIVER=pymysql
DB=mysql
DB_HOST=host # Change to your host
DB_USER=user # Change to your yser
DB_PWD=pwd   # Change to yout password
DB_DEFAULT=default  # Change to your database
DB_PORT=3306 # Change to your port