DB_DRIVER=pymysql
DB=mysql
MYSQL_HOST=host # Change to your host
MYSQL_USER=user # Change to your yser
MYSQL_PASSWORD=pwd   # Change to yout password
MYSQL_DB=default  # Change to your database
MYSQL_PORT=3306 # Change to your port